<!DOCTYPE HTML>
<html>

<head>
	<title>水量監控系統</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	<style>
		p {
			margin-left: 1em;
			font-size: 2em;
		}

		pre {
			margin-left: 1em;
			font-size: 2em;
		}
	</style>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<!-- Logo -->
				<a href="index.html" class="logo">
					<span class="symbol"><img src="images/water-drop.png" alt="" /></span><span
						class="title">水量監控系統</span>
				</a>
			</div>
		</header>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<section>
					<p>等候感應學生證...</p>
				</section>
			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>